# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/silkmc-server/build.gradle.kts
/silkmc-server/src/minecraft
/paper-server
!/paper-server/src/
!/paper-server/src/main/
!/paper-server/src/main/java/
!/paper-server/src/main/java/gg/
!/paper-server/src/main/java/gg/tame/
!/paper-server/src/main/java/gg/tame/silkmc/
!/paper-server/src/main/java/gg/tame/silkmc/server/
!/paper-server/src/main/java/gg/tame/silkmc/server/compat/
!/paper-server/src/main/java/gg/tame/silkmc/server/compat/SilkPluginCompatibility.java
!/paper-server/src/main/java/io/
!/paper-server/src/main/java/io/papermc/
!/paper-server/src/main/java/io/papermc/paper/
!/paper-server/src/main/java/io/papermc/paper/plugin/
!/paper-server/src/main/java/io/papermc/paper/plugin/manager/
!/paper-server/src/main/java/io/papermc/paper/plugin/manager/PaperPluginInstanceManager.java
!/paper-server/src/main/java/io/papermc/paper/threadedregions/
!/paper-server/src/main/java/io/papermc/paper/threadedregions/scheduler/
!/paper-server/src/main/java/io/papermc/paper/threadedregions/scheduler/FoliaAsyncScheduler.java
!/paper-server/src/main/java/io/papermc/paper/threadedregions/scheduler/FoliaGlobalRegionScheduler.java
!/paper-server/src/main/java/org/
!/paper-server/src/main/java/org/bukkit/
!/paper-server/src/main/java/org/bukkit/craftbukkit/
!/paper-server/src/main/java/org/bukkit/craftbukkit/scheduler/
!/paper-server/src/main/java/org/bukkit/craftbukkit/scheduler/CraftScheduler.java
/silkmc-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
